body{
    box-sizing: border-box;
    background: #282D30;
    color: #F48847;
    font-size: 18.5px;
    border: 0; margin: 0; padding: 0;
    font-family: 'Shippori Mincho B1', serif;
}
a{text-decoration: none; color: #F48847;}
/*Header*/
.header{
    width: 100%; height: 15vh;
    display: flex; justify-content: center; align-items: center;
}
.menu_left{width: 38%; margin: 15px 10px;}
.menu_left ul{ display: flex; justify-content: flex-start;}
.menu_left ul li{
    list-style: none; margin: 0 15px;
    display: inline-block;
}
.title{text-align: center; width: 27%; font-size: 2vw;}
.menu_right{
    display: flex; justify-content: flex-end;
    width: 35%; padding: 0 40px;
}
.menu_right a div{display: inline-block; margin: 0 18px;}
/*Block1 with introduce content*/
.block1{
    width: 100%; height: 55vh; 
    display: flex; justify-content: center; align-items: center;
}
.block1 .content h1{font-size: 61px; text-align: center; margin: 15px;}
.block1 .content em{
    font-size: 22.68px; text-align: center; 
    color: white; display: block; 
    width: auto; margin: auto;
}
/*Photo1 with big image*/
.photo1{width: 100%; height: 100vh; 
    display: flex; align-items: center;
}
.photo1 img {width: 92%; height: 85%; margin: auto;}
/*Block2 with arragements*/
.block2{
    width: 100%; height: 40vh; 
    display: flex; justify-content: center; align-items: center;
}
.block2 .content h2{font-size: 42.5px; text-align: center; margin: 20px;}
.block2 .content p{
    font-size: 18.5px; text-align: center; color: white; 
    width: 40vw; margin:  auto; line-height: 1.8em; 
}
/*Columns of photos*/
.photo2{
    width: 100%; height: 100vh; margin: auto; 
    display: flex; justify-content: center; align-items: center;
}
.photo2 .photo_left{width: 50%; height: 90%;}
.photo2 .photo_right{width: 30%; height: 90%;}
.photo2 a img{width: 85%; margin: auto}
.photo2 .product, .price{
    display: block; width: 85%; margin: 15px;
    text-align: center; color: white; font-size: 24px;
}
.photo2 .bloom{height: 30%; display: flex; align-items: center;}
.photo2 .bloom a{
    font-size: 33.5px; text-align: center; width: 85%;
    text-decoration: underline;
    text-underline-position: under;
}
/*Layers*/
.layer_block{width: 100%; height: 122vh}
.layer{
    position: relative;
    background: #e9ceb0; margin-top: 250px;
    width: 100%; height: 122vh;
}
.layer .layer1 img{
    position: absolute;
    top: 110px; left: 60px;
    width: 53.5%;
}
.layer .layer2{
    position: absolute;
    top: 166px; right: 60px;
    width: 46%; height: 76vh;
    background: white;
    display: flex; align-items: center;
    transition: 0.5s;
    transform: translateX(20px);
}
.layer .layer2 .content{width: 77%; margin: auto;}
.layer .layer2 .content h2{
    display: block; margin: 35px 0; 
    width: 100%; font-size: 45px;
}
.layer .layer2 .content p{
    line-height: 1.8em; font-size: 18px;
    display: block; margin: 30px 0;
}
.layer2 button{
    width: 167px; height: 76px; 
    background: #F48847;
    border: 0; font-size: 18px;
    font-family: 'Shippori Mincho B1', serif;
}
.layer2 button a{color: white;}
.layer:hover .layer1, .layer:hover .layer2{
    visibility: visible;
    transform: translateX(0);
}
/*Footer here!!! End now*/
.footer{
    position: relative; background: #282d30;
    width: 100%; height: 58vh; color:white; font-size: 18px;
}
.footer .icons{
    display: flex; justify-content: center; align-items: center;
    height: 30%; font-size: 24px;
}
.footer .icons a{display: inline-block; margin: 0 13px; color: white;}
.footer p{display: block; text-align: center;}
.footer .form{
    width: 100%; height: 30%;
    display: flex; align-items: center; justify-content: center;
}
.footer form input{
    display: inline-block; margin: auto;
    font-size: 18px; height: 61px; border: 0; margin: 5px;
}
input[type="text"]{width: 266.6px; padding: 0 25px;}
input[type="submit"]{
    width: 113.317px;
    background: #F48847; color: white;
}
.footer .author{width: 100%; text-align: center; font-size: 15px;}
.footer .author a{
    border-bottom: 1px solid #f48847; 
    padding: 2px;
}