*{
    font-family: 'Nunito', sans-serif;
    color: #a4acc4;
}
a{
    text-decoration: none;
    color: #a4acc4;
}
li{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #10121b;
}
.header-box{
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    box-sizing: border-box;
    background-color: #191d2b;
    border-right: 1.5px solid #444955;
}
.header-image{
    width: 100%;
    height: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #444955;
}
.header-image img{
    width: 186px;
    height: 185px;
    border-radius: 50%;
    margin: 0;
    border: 7px solid #2e344e;

}
.header-menu{
    border-bottom: 1px solid #444955;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 55%;
}
.header-menu ul{
    padding-inline-start: 0;
    padding: 0;
    width: 100%;
}
.header-menu ul li{
    width: 100%;
    margin: 0;
    height: 38.8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.6px;
    font-weight: bold;
}
.footer{
    text-align: center;
    padding: 19px 0;
}


.about {
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about .big-container{
    width: 77.8%;
    height: 100%;
    margin: 0;
}
.about .title{
    padding-top: 80px;
}
.about .title h2{
    font-size: 2.57rem;
    line-height: 3.2857rem;
    padding-bottom: 15px;
    font-weight: 700;
    position: relative;
    color: white;
}
.about .title span{
    line-height: 1;
    position: absolute;
    z-index: -1;
    top: 20%;
    transform: translateY(10px);
    height: 1rem;
    color: rgb(20, 23, 34);
    font-size: 72px;
    font-weight: 900;
    display: inline-block;
    margin: 0px;
}

.about .container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}



/* My Resume */
.profile {
    margin-bottom: 25px;
}
.profile .jobster-user-info {
    display: inline-block;
    width: 100%;
}
.profile .jobster-user-info .profile-avatar {
    position: relative;
    height: 115px;
    width: 115px;
    border-radius: 100%;
    display: inline-block;
}
.profile .jobster-user-info .profile-avatar img {
    border-radius: 100%;
}
.profile .jobster-user-info .profile-avatar i {
    font-size: 16px;
    color: #21c87a;
    position: absolute;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    bottom: 20px;
    right: -5px;
}

.about-candidate {
    padding: 25px 0px;
}
.about-candidate .candidate-info {
    margin-bottom: 20px;
}

.resume-experience {
    padding-left: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    padding-right: 50px;
    background: #f6f6f6;
}
.resume-experience:before {
    position: absolute;
    left: -40%;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    content: "";
    z-index: -1;
    top: 0;
}
.resume-experience .jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-cricle {
    border-color: #f6f6f6;
}

.user-dashboard-info-box .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: bold;
    color: #626262;
}

@media (max-width: 1199px) {
    .secondary-menu ul li a {
        padding: 10px 15px;
    }
}

@media (max-width: 991px) {
    .resume-experience {
        padding-left: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 15px;
    }
    .resume-experience:before {
        content: none;
    }
    .secondary-menu ul li {
        display: inline-block;
    }
}

@media (max-width: 575px) {
    .secondary-menu ul li a {
        padding: 4px 8px;
    }
}

