body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style: none;
}
#nav{
   background-color: #198192; 
   height: 8vh;
   padding: 0;
   color: white;
   font-size: 1.3rem;
}
#nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding-inline-start: 0;
}
#nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15515a;
    border-radius: 5px;
}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box ul{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
}
img{
    width: 250px;
    margin: 10px;
}
.bigImg{
    width: 150%;
    height: auto;
}
.eachItem {
    display: flex;
    align-items: center;
}
.hide{
    display: none;
}