*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-header{
    width: 100%;
    height: 54px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    
}
.header-container{
    width: 940px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul, .icon ul{
    display: flex;
}
.menu ul li{
    display: inline-block;
    margin: 0 15px;
    padding: 8px;
}


.name-box{
    height: 120vh;
    width: 100%; 
    margin: auto;
    background-color: #dadada;
}
.avt-photo{
    width: 100%;
    display: flex;
    justify-content: center;
}
img.avt{
    width: 280px; margin: auto;
    text-align: center;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
}
h1, p{
    text-align: center;
}
.photo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
}
.photo-box{
    width: 22%;
    margin: 5px;
        padding:10px ;
}
img.small-photo{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width:766px) {
    .photo-box {
        width:45%; 
        margin: 10px;
        padding:10px ;
        box-sizing: border-box;
    }
}
@media screen and (max-width:556px) {
    .photo-box {width:100%;}
}

.list-blog{
    
}