*{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    box-sizing: border-box;
    color: white;
}
body{
    background: linear-gradient(45deg, #00ff73, #5acaff);
    height: 100vh;
}
.content{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#services{
    margin: auto;
    width: 500px;
    border-radius: 10px;
    background: #151729;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.575);
    
}
h1{
    margin: 20px;
    text-align: center;
}
ul{
    padding-inline-start: 0;
}
li{
    list-style: none;
    margin: 20px 35px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #e45e;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
li:hover{
    transform: translateY(-2px);
}
.total{
    margin: 20px 35px;
    padding: 10px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    
}
span{
    margin: 0;
    padding: 0;
}
.green{
    background-color: #00ff73;
}