<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="test.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="content">
      <div id="tolist">
        <h1>To do List</h1>

        <div v-if="!isEditing" style="margin-bottom: 5vh;">
          <input type="text" v-model="currentInput" v-on:keyup.enter="storeList"/>
          <input type="submit" value="Add" v-on:click="storeList"/>
        </div>

        <div v-else>
          <input type="text" v-model="currentInput" v-on:keyup.enter="updateList"/>
          <input type="submit" value="Update" v-on:click="updateList"/>
        </div>

        <ul>
            <li v-for="(list, index) in lists"  v-bind:class="{done: list.done}">
              <input type="checkbox" value="index" v-model="list.done" :checked="list.done" v-on:click="beDone(index)">
              <span style="width: 65%; text-align: left;"  > {{ list.name }}</span>
              <div style="width: 35%;">
                <button @click="editList(index, list.name)">Edit</button>
                <button @click="deleteList(index)">Delete</button>
              </div>
              
            </li>
        </ul>
        

      </div>
    </div>
    
    <script src="test.js"></script>
  </body>
</html>
