*{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    box-sizing: border-box;
    color: white;
}
body{
    background: linear-gradient(45deg, #00ff73, #5acaff);
    height: 100vh;
}
.content{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#tolist{
    margin: auto;
    width: 600px;
    border-radius: 10px;
    background: #151729;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.575);
    text-align: center;
    
}
h1{
    margin: 20px;
    text-align: center;
}
ul{
    padding-inline-start: 0;
}
li{
    list-style: none;
    margin: 20px 35px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e45e;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: 0.2s;
}
li:hover{
    transform: translateY(-2px);
}

span{
    margin: 0;
    padding: 0;
}
input[type = 'text']{
    color: #151729;
    margin: auto;
    width: 65%;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}
input[type = 'submit']{
    font-size: 1.1rem;
    background-color: #5acaff;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
}
input[type = 'checkbox']{
    width:20px;
    height:20px;
    margin-right: 10px;
    cursor: pointer;
}
button{
    background-color: #151729;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #5acaff;
}
.done{
    color: rgb(211, 211, 211);
    text-decoration: line-through;
    background-color: #00ff73;
}